/*
Theme Name: AppSperia
Theme URI: http://www.appsperia-wp.themetek.com/demo/
Author: Key-Design
Author URI: http://themeforest.net/user/Key-Design
Description: AppSperia Wordpress App Landing Page
Version: 1.0
Tags: one-column,fluid-layout, custom-menu
License: GNU General Public License
License URI: license.txt

*/

/* =======================================================================
AppSperia - App Landing Page 
======================================================================= */

/*
1. GLOBAL STYLES
2. TYPOGRAPHY
     2.1 FONTS
     2.2 HEADINGS
3. LAYOUT
     3.1 SECTIONS
     3.2 PRELOADER
     3.3 LOGO
     3.4 SOCIAL ICONS
     3.5 RIGHT MOCKUP
4. MENU
     4.1 SIDE MAIN MENU
     4.2 NAV BULLETS
5. ELEMENTS
     5.1 TABS
     5.2 CAROUSEL
     5.3 BUTTONS
     5.4 TOOLTIP
     5.5 ICONS
     5.6 SCROLLBAR
6. SECTIONS
     6.1 FEATURES
     6.2 CLIENTS
     6.3 VIDEO
     6.4 SCREENSHOTS
     6.5 PRICING
     6.6 CONTACT
7.  RESPONSIVE
8.  BLOG
*/


/* --------------------------------------
GLOBAL STYLES
-----------------------------------------*/
 

html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

/*strong { font-family: 'walkway_ultraboldregular' }*/

body {
   
    
    color: #333;
    font-family: Open Sans;
}
ul {
    list-style-type: none;
    
}

blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 15px 40px;
}

dt {font-weight: bold;}
dd {margin: 0; margin-bottom: 15px;}


.wp-caption {  max-width: 100%;}
.wp-caption-text {   max-width: 100%;}
.gallery-caption {   max-width: 100%;}
.bypostauthor {   max-width: 100%;}
.alignright {  float: right;   margin-left: 20px;}
.alignleft {  float: left;   margin-right: 20px;}
.aligncenter {text-align: center;}


body.admin-bar #logo {position: absolute;}
body.admin-bar #main-nav {top: 5%;}



/*---------------------------------------
   TYPOGRAPHY                
-----------------------------------------*/


/* FONTS */

@font-face {
    font-family: 'walkway';
    src: url('fonts/Walkway_SemiBold-webfont.eot');
    src: url('fonts/Walkway_SemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Walkway_SemiBold-webfont.woff') format('woff'), url('fonts/Walkway_SemiBold-webfont.ttf') format('truetype'), url('fonts/Walkway_SemiBold-webfont.svg#walkway_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'walkway_bold';
    src: url('fonts/Walkway_UltraBold-webfont.eot');
    src: url('fonts/Walkway_UltraBold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Walkway_UltraBold-webfont.woff') format('woff'), url('fonts/Walkway_UltraBold-webfont.ttf') format('truetype'), url('fonts/Walkway_UltraBold-webfont.svg#walkway_ultraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HEADINGS */

h1,
h2,
h3 {
    margin-bottom: 30px;
    margin-top: 20px;
}

h4,
h5,
h6 { font-weight: 400; margin: 15px 0; }


/*---------------------------------------
   LAYOUT          
-----------------------------------------*/


/*SECTIONS*/

.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fp-slide { float: left }
.fp-slide,
.fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table,
.fp-slide.fp-table {
    display: table;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    max-width: 1040px;

}
.wrap {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
    box-sizing: border-box;
}

.entry-content.no-scroll {
/*  padding: 0;
  background: none;
  border-radius: 4px;*/
}

.comment-list {padding-left: 0;}
.entry-content.comments-content,
.entry-content {
  padding: 15px;
  background: #222;
  border-radius: 4px;
  position: relative;
}

.format-gallery.post .fp-slidesNav {display: none;}



.entry-content embed {
  width: 100%;
  /* min-height: 200px; */
  height: auto;
}

.wrap .box,
.wrap {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.box {
    font-style: normal;
    width: 51%;
}
.box p { margin: 0 0 15px 0 }
.overlay {
    background: #000;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
}

/*preloader*/

#loading {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #000;
}
#loading img {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -90px;
}

/*Logo   */

#logo {
    position: fixed;
    top: 2%;
    z-index: 100;
}

/*Social Icons*/

#social-icons {
    position: fixed;
    bottom: 20px;
}
#social-icons ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#social-icons li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}
#social-icons a {
    font-size: 28px;
    
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#social-icons a i {
    font-style: normal;
    font-weight: normal;
    opacity: 1;
    display: block;
    font-variant: normal;
    font-size: 13px;
    border: 1px solid;
    border-color: inherit;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 27px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


/*Right side mockup*/

#hand {
    background: url(images/hand-mockup.png) top no-repeat;
    width: 800px;
    height: 1000px;
    background-size: 100%;
    position: fixed;
    margin-left: -209px;
    top: 50%;
    margin-top: -270px;
    left: 50%;
}


/*---------------------------------------
   MENUS          
-----------------------------------------*/


/*side main menu*/


#main-nav {
position: fixed;
z-index: 100;
top: 2%;
left: 14px;
color: inherit;
line-height: 43px;
font-size: 32px;
font-weight: 300;
}

.entry-content a,
.meta-content a,
.comments-area a,
.entry-meta a,
#main-nav span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#menu-logo img {
    display: block;
    margin: 30px auto 35px auto;
}
.sidr {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999;
    width: 240px;
    overflow-x: none;
  
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 15px;
   
}

.navbar {  position: relative;
  max-height: 100%;
  max-height: calc(100% - 150px);
  z-index: 10;
  margin-right: -20px;
  overflow-y: scroll;}

.sidr .menu-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
}

.sidr {overflow: hidden;}

#menu-logo {
    position: relative;
    z-index: 2;
    display: block;
}

.sidr.right {
    left: auto;
    right: -260px;
}
.sidr.left {
    left: -260px;
    right: auto;
}
.sidr ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
}
.sidr ul li {
    display: block;
    margin: 0;
    line-height: 45px;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.sidr ul li:hover,
.sidr ul li.active,
.sidr ul li.sidr-class-active {
    border-top: none;
}

.sidr ul li a,
.sidr ul li span {
    padding: 0 25px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: Open Sans;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.sidr ul li a span {
    display: inline-block;
    padding-left: 0;
    font-weight: 300;
    font-size: 14px;
}
.sidr-open .wrap { width: 1200px }
.sidr-open .fp-slidesNav { margin-left: -602px!important }
.sidr-open .wrap .box { width: 40% }
.sidr-open #main-nav { left: 274px }

/*navigation bullets*/

#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 52%;
    opacity: 1;
}
#fp-nav.left { left: 17px }
#fp-nav span,
.fp-slidesNav span { border-color: #aaa }
#fp-nav li .active span,
.fp-slidesNav .active span { background: #fff }
.fp-slidesNav {
    position: absolute;
    z-index: 4;
    margin-left: -523px!important;
    text-align: left;
    left: 50%;
    opacity: 1;
    top: 50%;
    margin-top: 140px;
}
.fp-slidesNav.top { top: 17px }
#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fp-nav li,
.fp-slidesNav li {
    display: block;
    width: 12px;
    height: 12px;
    margin: 7px;
    position: relative;
}
.fp-slidesNav li {
    display: inline-block;
    margin: 3px;
}
.fp-slidesNav li a,
#fp-nav li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
}
.fp-slidesNav li a,
#fp-nav li a {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgb(172, 172, 172);
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.light .fp-slidesNav li a,
.light  #fp-nav li a {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgb(69, 69, 69);
}

.fp-slidesNav li a:hover,
.fp-slidesNav li a:focus,
#fp-nav li a:hover,
#fp-nav li a:focus { box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6) }
.fp-slidesNav li a.active,
#fp-nav li a.active { box-shadow: inset 0 0 0 8px #fff }

.light .fp-slidesNav li a.active,
.light #fp-nav li a.active { box-shadow: inset 0 0 0 8px #000 }
.light #fp-nav li a.active { box-shadow: inset 0 0 0 8px #000 }


/*---------------------------------------
   ELEMENTS          
-----------------------------------------*/


/*tabs*/

.tabs-style-linemove nav {
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 4px;
}

.light .tabs-style-linemove nav {  background: rgba(255, 255, 255, 0.3); }

.tabs-style-linemove nav li:last-child::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}


.tabs6.tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-500%,0,0);
    transform: translate3d(-500%,0,0);
}

.tabs6.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-400%,0,0);
    transform: translate3d(-400%,0,0);
}

.tabs6.tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-300%,0,0);
    transform: translate3d(-300%,0,0);
}

.tabs6.tabs-style-linemove nav li:nth-child(4).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-200%,0,0);
    transform: translate3d(-200%,0,0);
}

.tabs6.tabs-style-linemove nav li:nth-child(5).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.tabs5.tabs-style-linemove nav li:nth-child(1).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-400%,0,0);
    transform: translate3d(-400%,0,0);
}

.tabs5.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-300%,0,0);
    transform: translate3d(-300%,0,0);
}

.tabs5.tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-200%,0,0);
    transform: translate3d(-200%,0,0);
}

.tabs5.tabs-style-linemove nav li:nth-child(4).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.tabs4.tabs-style-linemove nav li:nth-child(1).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-300%,0,0);
    transform: translate3d(-300%,0,0);
}

.tabs4.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-200%,0,0);
    transform: translate3d(-200%,0,0);
}

.tabs4.tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.tabs3.tabs-style-linemove nav li:nth-child(1).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-200%,0,0);
    transform: translate3d(-200%,0,0);
}

.tabs3.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.tabs2.tabs-style-linemove nav li:nth-child(1).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}


.tabs5 nav ul li {width: 20%; float: left;}
.tabs4 nav ul li {width: 25%; float: left;}
.tabs3 nav ul li {width: 33%; float: left;}




.tabs-style-linemove nav a {
    padding: 20px 0;

    line-height: 1;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, transform 0.3s;
}
.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    min-height: 270px;
}
.tabs nav { text-align: center }
.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
}
.tabs nav a span { vertical-align: middle }
.tabs nav a:focus { outline: none }

.tabs .tooltip {
display: block;
display: inline-block;
margin-top: 10px;
width: 40%;}

.tabs h4 .tooltip:nth-child(1) {margin-top: 0;}

.tabs .tooltip:nth-child(1) ,
.tabs .tooltip:nth-child(2) { margin-top: 25px; }

.content-wrap { position: relative }
.content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

.content-wrap section br {display: none;}

.content-wrap section h4 {font-weight: inherit; margin-top: 0;}

.content-wrap section.content-current { display: block }

/*carousel*/

.screenshots-wrapper  .fp-controlArrow {display: block;}

.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    display: none;
}
.fp-controlArrow.fp-prev {
    left: -70px;
    width: 40px;
    height: 74px;
    border: none;

    background: url(images/bg_direction_nav.png) no-repeat 0 0;
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.fp-controlArrow.fp-next {
    right: -70px;
    width: 40px;
    height: 74px;
    border: none;

    background: url(images/bg_direction_nav.png) no-repeat 0 0;
    cursor: pointer;
    opacity: 0.6;
    background-position: 100% 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.fp-controlArrow.fp-prev:hover,
.fp-controlArrow.fp-next:hover { opacity: 1 }

/*buttons*/

.flaticon-appstore {
    background: url(images/appstore.png);
    height: 21px;
    width: 17px;
    margin-top: 2px;
    float: left;
}

.simple-button:hover .flaticon-appstore { background: url(images/appstore2.png) }

.flaticon-playstore {
    background: url(images/playstore.png);
    height: 20px;
    width: 17px;
    margin-top: 2px;
    float: left;
}

.simple-button:hover .flaticon-playstore { background: url(images/playstore2.png) }

.simple-button {
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    color: #ffffff;
    min-width: 130px;
    margin-right: 10px;
    text-decoration: none;
    padding: 12px 25px;
    margin-top: 25px;
    float: left;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
   
}
.simple-button:hover {
    color: #333;
    background: #fff;
}

/*tooltip*/

.tooltip-wrap {
width: 38%;
float: left;
margin-top: 10px; }

.tooltip {
    position: relative;
}

.separator {margin-top: 15px;}

.tooltip::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.tooltip:hover::after { pointer-events: auto }
.tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 335px;
    left: 50%;
    bottom: 100%;
    color: #fffaf0;
    background: transparent;
    opacity: 0;
    margin: 0 0 20px -167px;
    cursor: default;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s;
}
.tooltip:hover .tooltip-content {
    opacity: 1;
    pointer-events: auto;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.tooltip-content span { display: block }
.tooltip-text {
    border-bottom: 10px solid #fffaf0;
    overflow: hidden;
    -webkit-transform: scale3d(0,1,1);
    transform: scale3d(0,1,1);
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
}
.tooltip:hover .tooltip-text {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.tooltip-inner {
    background: rgba(0, 0, 0, 0.85);
    padding: 30px;
    min-height: 80px;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.light .tooltip-inner {
      background: rgba(255, 255, 255, 0.85);
}

.light .tooltip-content {color: initial;}


.tooltip:hover .tooltip-inner {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.tooltip a {
    color: #fff;
    font-weight: bold;
}
.tooltip a:hover { color: #1D9CD2  }
.tooltip-content::after {
    content: '';
    bottom: -20px;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #fffaf0;
    border-width: 10px;
    margin-left: -10px;
}
.tooltip-inner .icon {
  vertical-align: middle;
display: table-cell;
font-size: 40px;
height: 80px;
text-align: center;
width: 30%;
margin-right: 10%;
line-height: 80px;
}
.tooltip-inner .tooltip-body {
width: 70%;
height: 80px;
display: table-cell;
vertical-align: middle;}

/*icons*/

.tooltip-content .tooltip-inner {
    display: table;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}


.icon {
    font-weight: normal;
    line-height: 20px;
    margin-right: 5px;
}




.simple-button .icon {
    margin-right: 20px;
    font-size: 16px;
}


/*************** Scrollbar ***************/
 
.scroll-wrapper {

    padding: 0 !important;
    position: relative;
}

.home.page.page-parent .scroll-wrapper > .scroll-content {overflow: visible!important;}
.home.page.page-parent .scroll-element.scroll-y {display: none!important}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
 
 
/*************** Scrollbar Outer ***************/
 .page-content {max-height: 320px;  overflow-y: auto;   padding-right: 15px;   position: relative;}

.page-child .section-title {  white-space: nowrap; }
.page-child .entry-content p {  margin-top: 15px; }

  .page-content th,
 .page-content td {  background: rgba(0, 0, 0, 0.3); border-radius: 5px; padding: 10px;}
 .page-content img {  display: block; max-width: 100%; height: auto;}

 .post .page-content img {
display: block;
  max-height: 230px;
  width: auto;
  max-width: 100%;
  height: auto;}


.page-content > .scroll-element,
.page-content > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
 
.page-content > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.page-content > .scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    width: 100%;
    display: none;
}
 
.page-content > .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 12px;
}
 
.page-content > .scroll-element.scroll-x .scroll-element_outer { height: 8px; top: 2px; }
.page-content > .scroll-element.scroll-y .scroll-element_outer { left: 2px; width: 8px; }
 
.page-content > .scroll-element .scroll-element_outer { overflow: hidden; }
.page-content > .scroll-element .scroll-element_track { background: rgba(0, 0, 0, 0.3); }
 
.page-content > .scroll-element .scroll-element_outer,
.page-content > .scroll-element .scroll-element_track,
.page-content > .scroll-element .scroll-bar {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.page-content > .scroll-element .scroll-bar { background-color: #fff; }
.page-content > .scroll-element .scroll-bar:hover { background-color: #c2c2c2; }
.page-content > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }
 
 
/* scrollbar height/width & offset from container borders */
 
.page-content > .scroll-content.scroll-scrolly_visible {   left: -15px;  margin-left: 15px;  right: -15px;  margin-right: 15px!important;}
.page-content > .scroll-content.scroll-scrollx_visible { top:  -12px; margin-top:  12px; height: 225px!important; }
 
.page-content > .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
.page-content > .scroll-element.scroll-y .scroll-bar { min-height: 10px; }
 
 
/* update scrollbar offset if both scrolls are visible */
 
.page-content > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -14px; }
.page-content > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -14px; }
 
.page-content > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -14px; }
.page-content > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -14px; }



/* --------------------------------------
SECTIONS
-----------------------------------------*/


/*Features*/

.features {
    margin-top: 10px;
    float: left;
    margin-right: 50px;
    margin-bottom: 0;
}
.features li { margin-bottom: 10px }

/*Clients feedbacks*/

.clients-content { position: relative; height: auto!important;   margin-bottom: 15px; }
.clients-content .fp-controlArrow { display: none }
.clients-content .fp-tableCell { height: 100%!important }
.client-stars { float: right }
.clients-content p { margin-top: 0 }


/* Video Presentation*/

.video-presentation {
    width: 100%;
    margin-top: 30px;
}
.wrap iframe { border: none }

/*Screenshots*/

.screenshots-wrapper,
.section-image {
    position: fixed;
    left: 50%;
    top: 50%;
    overflow: hidden;
    z-index: 10;
    margin-top: -192px;
    width: 232px;
    height: 407px;
    margin-left: 270px;
    border-radius: 3px;
}
.screenshots-wrapper img,
.section-image img {
width: auto;
display: block;
min-height: 100%;
height: 407px;
}
.screenshots-wrapper {
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    opacity: 0;
}
.active .screenshots-wrapper {
    opacity: 1;
    overflow: visible;
}
.screenshots-wrapper .fp-tableCell { height: 100%!important }
.active .section-image img { opacity: 1 }

/*Pricing*/

.pricing-button {
    padding: 20px 0;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.2);
    font-weight: 700;
}
.price-table {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    text-align: center;
    width: 31%;
    margin-right: 2%;
    float: left;
    overflow: hidden;
}

 .light .price-table { background: rgba(255, 255, 255, 0.3);}

 .light .pricing-button,
 .light .wrap .package,
 .light .wrap .page-content .package
  {   background: rgba(255, 255, 255, 0.2); }

.popular {
    color: #fff;
    padding: 30px 0;
}

.light .price-table:hover .package,
.light .price-table:hover .pricing-button a {  color: #fff;}

.popular .icon { color: #fff }
.wrap .page-content  .package {
 padding: 20px 0;
margin: 0;
line-height: 1.2;
background: rgba(0, 0, 0, 0.2);
margin-bottom: 20px;
text-align: center;
font-size: 22px;
box-sizing: border-box;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}
.popular .price { background-color: rgba(255,255,255, 0.2) !important }
.currency { font-size: 21px }
.amount {
    font-size: 28px;
    line-height: 32px;
}
.specifications {
    list-style: none;
    text-align: left;
    margin: 15px 20px;
      padding-left: 0;
}
.sidr-open .specifications { margin: 15px 10px }
.specifications li { padding: 3px }

.normal .btn-line { width: 150px }
.popular .btn-line {
    color: #fff !important;
    border-color: #fff !important;
}

/*Contact*/

.wpcf7-form {
    float: left;
    margin-top: 15px;
    width: 100%;
}
input::-webkit-input-placeholder { color: #fff }
input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
input:-moz-placeholder {
    color: #fff;
    opacity: 1;
}
textarea::-webkit-input-placeholder { color: #fff }
textarea::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
textarea:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.light input::-webkit-input-placeholder { color: initial }
input::-moz-placeholder {
    color: initial;
    opacity: 1;
}
.light input:-moz-placeholder {
    color: initial;
    opacity: 1;
}
.light textarea::-webkit-input-placeholder { color: initial }
.light textarea::-moz-placeholder {
    color: initial;
    opacity: 1;
}
.light textarea:-moz-placeholder {
    color: initial;
    opacity: 1;
}

.searchform input,
input[type="password"],
#comments textarea,
#comments input,
.wpcf7-form textarea,
.wpcf7-form input {
    outline: none;
    background: none;
    float: left;
    color: inherit;
    width: 47%;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Open Sans;
    border: none;
    font-weight: 300;
    font-size: 13px;
    margin-right: 3%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.searchform input,
input[type="password"] {float: none;}

.searchform input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  margin-left: 10px;
}

#comments textarea:focus, #comments input:focus,
.wpcf7-form textarea:focus, .wpcf7-form input:focus {color: #fff;}


.light .wpcf7-form textarea,
.light .wpcf7-form input[type="text"],
.light .wpcf7-form input[type="email"],
.light .wpcf7-form input[type="number"]
{    background: rgba(255, 255, 255, 0.3); }

.light #comments textarea,
.light #comments input[type="text"],
.light #comments input[type="email"],
.light #comments input[type="number"]
{    background: rgba(255, 255, 255, 0.3); }

#comments textarea,
.wpcf7-form textarea {
    width: 97%;
    resize: none;
    height: 60px;
    margin-bottom: 0;
}

input[type="submit"],
#comments .submit,
.wpcf7-form .wpcf7-submit {
font-weight: 700;
border-radius: 4px;
color: #ffffff;
border: none;
min-width: 120px;
font-size: 15px;
margin-right: 10px;
text-decoration: none;
outline: none;
padding: 9px 20px;
cursor: pointer;
margin-top: 10px;
margin-bottom: 10px;
width: auto;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}

.wpcf7-form .wpcf7-submit  {margin-bottom: 0;}

#comments .submit:hover,
.wpcf7-form .wpcf7-submit:hover {
    background: #fff;
    color: #111;
}

.wpcf7-form br {display: none;}

 .wpcf7-response-output.wpcf7-mail-sent-ok,
.wpcf7-response-output.wpcf7-validation-errors {
display: block;
margin: 0;
padding: 0;
border: none;
font-size: 13px;
margin-right: 2%;
margin-top: -30px;
line-height: 1.5;
float: right;
width: 50%;}

span.wpcf7-not-valid-tip {
color: #e02217;
font-size: 13px;
position: absolute;
display: block;
line-height: initial;
text-align: right;
padding: 10px;
min-width: 170px;
right: 10px;
}


/* --------------------------------------
/* RESPONSIVE SRTYLES
-----------------------------------------*/

@media (max-width: 1140px) {

    html,
    body {
        background-position-y: 0!important;
    }

    #fp-nav {
        display: none;
    }

    #social-icons,
    #logo {
        position: fixed;
        width: 100%;
        left: 0;
        text-align: center;
    }

    .section iframe {
        width: 100%;
        height: auto;
    }

    .fp-slidesNav {
        margin-left: -45%!important;
        left: 50%;
        bottom: 0;
        top: 55%;
    }

    .sidr-open .wrap,
.wrap {
        width: 90%;
    }

    #section5 .fp-slidesNav {
        display: none;
    }

    #hand {
        left: auto;
        right: 0;
        margin-left: inherit;
    }

    .screenshots-wrapper,
.section-image {
        left: auto;
        right: 89px;
        margin-left: inherit;
    }
}

@media (max-width: 870px) {

    .section .wrap  h1, .section .wrap  h2, .section .wrap  h3 {
        font-size: 40px;
          width: 100%!important;
        text-align: center;
    }

    #hand,
.screenshots-wrapper,
.section-image {
        display: none;
    }

   .wrap  .sidr-open, .wrap .box,
.wrap .box {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    #searchform,
    #menu-logo {
        display: none;
    }

    .sidr ul {
        margin-top: 35%;
    }

    #sidr {
        width: 200px;
        z-index: 100;
    }

    .simple-button {
        float: none;
        display: block;
        font-size: 14px;
        max-width: 180px;
        margin: 25px auto;
    }

    .sidr ul li a, .sidr ul li span {
        font-size: 11px;
        padding: 0 18px;
    }

    .tooltip-wrap {
        margin-top: 10px;
        width: 50%;
        margin-right: 0;
        margin-bottom: 0;
    }

    .tabs {
        width: 90%;
    }

    .sidr-open #main-nav {
        left: 14px;
        z-index: 200;
    }

    .tabs-style-linemove nav a {
        padding: 15px 0;
    }

    .section iframe {
        width: 82%;
    }

    .client-name {
        float: left;
    }

    .fp-slidesNav {
        margin-left: -5%!important;
        left: 50%;
        bottom: 0;
        top: 55%;
    }

    .specifications {
        text-align: center;
    }

    .active .screenshots-wrapper {
        opacity: 1;
        overflow: visible;
        display: block;
        background: rgba(0, 0, 0, 0.2);
        padding: 10px;
        max-width: 180px;
        right: 50%;
        margin-right: -100px;
        border-radius: 7px;
        height: auto;
    }

    .active .screenshots-wrapper,
    .section .screenshots-wrapper {
        display: none;
    }

    .fp-controlArrow.fp-next {
        right: -30px;
        width: 20px;
    }

    .fp-controlArrow.fp-prev {
        left: -30px;
        width: 20px;
    }
}

@media (min-width: 320px) and (max-width: 640px) {



  

    .section .wrap  h1, .section .wrap  h2, .section .wrap  h3 {
        font-size: 26px;
        line-height: 1;
        text-align: center;
        width: 100%!important;
    }

  .sidr-open   .wrap  .box, .wrap .box {
        width: 100%;
        text-align: center;
        font-size: 11px;
        line-height: 1.2;
    }

    .simple-button .icon {
        margin-right: 10px;
        font-size: 12px;
    }

    .flaticon-playstore,
.flaticon-appstore {
        margin-top: -4px;
    }

    .simple-button {
        float: none;
        display: block;
        font-size: 11px;
        max-width: 100px;
        margin: 25px auto;
        padding: 10px 15px;
    }

    #logo {
        top: 3%;
    }

    #logo img {
        max-width: 120px;
    }

    .tooltip-inner .icon {
        float: left;
        display: block;
        font-size: 14px;
        height: AUTO;
        margin-right: 5px;
        line-height: inherit;
    }

    .tooltip-inner {
        background: rgba(0, 0, 0, 0.85);
        padding: 20px;
        min-height: inherit;
    }

    .tooltip-inner .tooltip-body {
  width: auto;
  height: auto;
  display: table-cell;
  vertical-align: middle;
}

.tooltip-content .tooltip-inner {padding: 20px; box-sizing: border-box;}

    #main-nav {
        left: 10px;
        top: 1%;
        font-size: 32px;
    }

    #main-nav:hover span {
        color: inherit!important;
    }

    .sidr ul li {
        line-height: 35px;
    }

    .fp-slidesNav {
        display: none;
    }

    #social-icons a i {
        font-size: 11px;
        width: 21px;
        height: 21px;
        line-height: 22px;
    }

    .section .wrap .package {
        padding: 15px 0;
        margin: 0;
        background: rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        font-size: 14px;
    }

    .amount {
        font-size: 15px;
        line-height: 1;
    }

    .specifications {
        list-style: none;
        text-align: left;
        margin: 10px 5px;
    }

    .pricing-button {
        padding: 15px 0;
    }

    .specifications .icon {
        display: none;
    }

    .wpcf7-form textarea, .wpcf7-form input{
        font-size: 11px;
        margin-right: 3%;
        padding: 5px;
    }

    .wpcf7-form textarea, {
        height: 50px;
    }

    .wpcf7-form .wpcf7-submit {
         padding: 8px 17px;
  margin: 10px auto;
  float: none;
  font-size: 11px;
    }

    .tabs nav ul li {
        display: inline-block;
    }

    .wpcf7-form {
        float: left;
        margin-top: 10px;
    }

    #section8 .tooltip-wrap {
        margin-top: 0;
    }

    .active .screenshots-wrapper {
        max-width: 140px;
        margin-top: -130px;
        margin-right: -80px;
    }

    .tabs .tooltip {width: 100%; margin: 0;}
    .tabs .tooltip:nth-child(1) {  margin-top: 20px;}
    .tabs .tooltip:nth-child(2) {  margin-top: 0px;}
}

.entry-content::after {  
  content: " ";
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 0%,#222 100%);
  height: 35px;
  display: block;
  position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 8;
  width: -moz-calc(100% - 15px);
  width: -webkit-calc(100% - 15px);
  width: calc(100% - 15px);
  left: 0; }
.entry-content.no-scroll::after {display: none;}

/* --------------------------------------
/*BLOG
-----------------------------------------*/
pre {  color: #ddd;  font-size: 85%;  line-height: 1.5;  white-space: pre-wrap;}
.blog-single .tabs {margin-top: 15px; float: left;}
.blog-label { float: left;  margin-right: 10px; }
.post-categories {margin: 0;}
.post-categories li {margin: 0; float: left;}
.tags {float: left;}
.meta-content {   float: left;  width: 130%;  max-height: 130px;  overflow: hidden;}
.wrap .comment-reply-title,
.wrap .comments-title,
.section .wrap .category-title {font-size: 16px; font-weight: bold;}
.section .wrap .category-title {margin-top: 0; margin-bottom: 15px;}
.comment-author img {display: block;  max-width: 55px;  float: left;  margin-right: 20px;  border-radius: 50%;}
.entry-meta {margin-bottom: 15px;   white-space: nowrap;}
.navigation.pagination h2.screen-reader-text {  line-height: 21px;  display: inline-block;  margin: 0;  margin-right: 10px;  font-size: 15px;  font-weight: normal;}
.navigation.pagination  {display: block;  width: 1040px;  margin-left: auto;  margin-right: auto;  z-index: 100;  position: relative;  margin-top: -120px;}
.navigation.pagination .nav-links  {line-height: 1}
.navigation.pagination .page-numbers.current {font-weight: bold;}
.navigation.pagination .page-numbers.current span  {font-weight: normal;}
.navigation.pagination .nav-links {display: inline-block;}
.archive .wrap .blog-title,
.type-post .wrap h2.section-title, .wrap h2.section-title,
.blog-single .blog-title {  margin: 0 0 15px 0 ;  line-height: 1;  position: relative;  text-overflow: ellipsis;  width: 140%;  z-index: 100;  font-size: 2.5em;}
.type-post .page-content,
.blog-single .page-content {  max-height: 210px;   overflow-y: auto;   padding-right: 15px;   position: relative; }
.blog-single .content-wrap section {padding-top: 15px;}
.type-post iframe,.blog-single iframe {max-width: 100%; width: 100%; height: auto; min-height: 215px;}
blockquote {  margin-left: 0;  background: rgba(0, 0, 0, 0.3);  border-radius: 5px;  padding: 10px;  height: auto;}
.box blockquote p {  margin: 0;}
 .type-post .page-content ul ,.type-post .page-content ol {padding-left: 20px;}
.post .simple-button {margin-top: 15px;}
.wrap .page-content h1 {  margin-top: 15px;  margin-bottom: 15px;  line-height: 1.2em;  font-size: 2.5em;  font-weight: bold;}
.wrap .page-content h2 {  margin-top: 15px;  margin-bottom: 15px;  line-height: 1.2em;  font-size: 2em;  font-weight: bold;}
.wrap .page-content h3 {  margin-top: 15px;  margin-bottom: 15px;  line-height: 1.2em;  font-size: 1.5em;  font-weight: bold;}
.pingback {margin-bottom: 20px;}
.entry-content .page-content ul,
.type-post .page-content ul, .comment-list ul {list-style-type: square }
.comment-list .children {list-style-type: none;   margin-top: 30px;}
.comment-list .comment {margin-bottom: 30px;}
.reply a {  font-weight: 700;  border-radius: 4px;  color: #ffffff;  border: none;  min-width: 120px;  font-size: 13px;  margin-right: 10px;  text-decoration: none;  outline: none;  padding: 7px 15px;  cursor: pointer;  margin-top: 10px;  background: rgba(0, 0, 0, 0.3);}
#comment-nav-above h1, #comment-nav-below h1 {display: none;}
.comment-navigation {margin-bottom: 30px;}
abbr {border-bottom: 1px dotted;}
.entry-meta a, .meta-content a, .comment-author a, .comment-meta a, .logged-in-as a, .entry-content a{font-weight: bold;}
.search-title {margin-bottom: 15px; display: block;  line-height: 1; margin-top: -50px;}
.searchform label {display: none;}
.searchform {position: relative;z-index: 10;   margin: 0 25px 14px 25px;}
.searchform #s {width: 100%; margin: 0;}
.searchform #searchsubmit {
  position: absolute;
  top: 0;
  margin: 0;
  right: 10px;
  background: none;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 13px;
  width: auto;
  display: block;
  min-width: 30px;}
.searchform #searchsubmit:hover { opacity: 0.7; }
.page .wrap h2.section-title {font-size: 50px; line-height: 60px;}
.page-content.with-tooltip {overflow: visible;}

.browser-mobile #video_background,
.browser-mobile .overlay {display: none!important; opacity: 0; visibility: hidden;}