#player-checklist {
    margin-left: 14px;
    font-size: 12px;
    overflow: auto;
}

#player-checklist span {
    margin-right: 25px;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 1.8em;
    cursor: default;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#player-checklist span a{
    color: inherit;
    text-decoration: none;
}
#player-checklist span a.ntdelbutton {
    margin: 1px 0 0 -17px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    text-indent: 0;
    overflow: hidden;
    position: absolute;
}

#player-checklist span a.ntdelbutton:before {
    margin: 2px 0;
    background: 0 0;
    color: #b4b9be;
    content: '\f153';
    display: block!important;
    font: 400 16px/1 dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased!important;
}

#player-checklist span a.ntdelbutton:hover:before {
    color: #c00;
}