

/* Below you can write your style */

.fixed-logo {width: 230px!important;margin-top: 0px;}

.sidr .menu-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background: #FFF!important;
}

.sidr ul li a, .sidr ul li span {
    padding: 0 25px;
    display: block;
    text-decoration: none;
    color: #472862;
    font-family: Open Sans;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


 .sidr ul li.active>a {
    background: #3D2055!important;
    color: #FFF;
}

.simple-button {
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    color: #3C2054;
    min-width: 130px;
    margin-right: 10px;
    text-decoration: none;
    padding: 12px 25px;
    margin-top: 25px;
    float: left;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

input[type="submit"], #comments .submit, .wpcf7-form .wpcf7-submit {
    font-weight: 700;
    border-radius: 4px;
    color: #462760;
    border: none;
    min-width: 120px;
    font-size: 15px;
    margin-right: 10px;
    text-decoration: none;
    outline: none;
    padding: 9px 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.searchform input[type="text"] {
    background: rgb(76, 42, 103);
    margin-left: 10px;
}

.searchform #searchsubmit {
    position: absolute;
    top: 0;
    margin: 0;
    right: 10px;
    background: none;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 13px;
    width: auto;
    display: block;
    color: #FFF;
    min-width: 30px;
}

.wrap .box, .wrap {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-top: 20px;
}

.tooltip-inner .tooltip-body {
    width: 70%;
    height: 80px;
    display: table-cell;
    vertical-align: middle;
    color: black;
    font-weight: 600;
}

.tooltip-inner .icon {
    vertical-align: middle;
    display: table-cell;
    font-size: 40px;
    height: 80px;
    text-align: center;
    width: 30%;
    margin-right: 10%;
    line-height: 80px;
    color: #4F2C6A!important;
}

.tooltip-text {
    border-bottom: 10px solid #B5B5B5;
    overflow: hidden;
    -webkit-transform: scale3d(0,1,1);
    transform: scale3d(0,1,1);
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
}

.tooltip-content::after {
    content: '';
    bottom: -20px;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #B5B5B5;
    border-width: 10px;
    margin-left: -10px;
}
.tooltip-inner {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    min-height: 80px;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Firefox */
    @-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Webkit */
    @-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* IE */
    @keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Opera */
    .download {
    margin-bottom: 4px;
    font-size: 15px;
    border-radius: 5px;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-animation: blink normal 1.5s infinite ease-in-out;
    -webkit-animation: blink normal 1.5s infinite ease-in-out;
    -ms-animation: blink normal 1.5s infinite ease-in-out;
    animation: blink normal 1.5s infinite ease-in-out;
    position: fixed;
    bottom: 0px;
    padding-left: 0px;
    padding-bottom: 60px;
}

#comments textarea:focus, #comments input:focus,
.wpcf7-form textarea:focus, .wpcf7-form input:focus {color: #2f2f2f!important;}