@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?gdsxit');
	src:url('../fonts/icomoon.eot?gdsxit#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?gdsxit') format('truetype'),
		url('../fonts/icomoon.woff?gdsxit') format('woff'),
		url('../fonts/icomoon.svg?gdsxit#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e900";
}
.icon-happy:before {
	content: "\e901";
}
.icon-smile:before {
	content: "\e902";
}
.icon-tongue:before {
	content: "\e903";
}
.icon-sad:before {
	content: "\e904";
}
.icon-wink:before {
	content: "\e905";
}
.icon-grin:before {
	content: "\e906";
}
.icon-cool:before {
	content: "\e907";
}
.icon-angry:before {
	content: "\e908";
}
.icon-evil:before {
	content: "\e909";
}
.icon-shocked:before {
	content: "\e90a";
}
.icon-baffled:before {
	content: "\e90b";
}
.icon-confused:before {
	content: "\e90c";
}
.icon-neutral:before {
	content: "\e90d";
}
.icon-hipster:before {
	content: "\e90e";
}
.icon-wondering:before {
	content: "\e90f";
}
.icon-sleepy:before {
	content: "\e910";
}
.icon-frustrated:before {
	content: "\e911";
}
.icon-crying:before {
	content: "\e912";
}
.icon-point-up:before {
	content: "\e913";
}
.icon-point-right:before {
	content: "\e914";
}
.icon-point-down:before {
	content: "\e915";
}
.icon-point-left:before {
	content: "\e916";
}

