body.single-events{
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}
body, button, input, select, textarea,
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus{
	font-family: 'Open Sans', sans-serif;
}
a:focus{outline: none !important;}
p{
	word-wrap: break-word;
}
.single-events div#page{
   margin:0 auto;   
   padding-top:0; 
}
/*::::::::::::::::::::::::::::::::::::HEADER STARTS::::::::::::::::::::::::::::::::::::::::*/
.single-events .entry-title{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#261237+0,220e33+2,271138+26,260f39+34,28113b+36,27103a+39,29123e+40,2c123f+54,2d1642+65,321847+73,35194a+100 */
	background: #261237; /* Old browsers */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#261237), color-stop(0.02, #220e33), color-stop(0.26, #271138), color-stop(0.34, #260f39), color-stop(0.36, #28113b), color-stop(0.39, #27103a), color-stop(0.4, #29123e), color-stop(0.54, #2c123f), color-stop(0.65, #2d1642), color-stop(0.73, #321847), to(#35194a));
    background: -webkit-linear-gradient(#261237 0%, #220e33 2%, #271138 26%, #260f39 34%, #28113b 36%, #27103a 39%, #29123e 40%, #2c123f 54%, #2d1642 65%, #321847 73%, #35194a 100%);
    background: -moz-linear-gradient(#261237 0%, #220e33 2%, #271138 26%, #260f39 34%, #28113b 36%, #27103a 39%, #29123e 40%, #2c123f 54%, #2d1642 65%, #321847 73%, #35194a 100%);
    background: -o-linear-gradient(#261237 0%, #220e33 2%, #271138 26%, #260f39 34%, #28113b 36%, #27103a 39%, #29123e 40%, #2c123f 54%, #2d1642 65%, #321847 73%, #35194a 100%);
    background: linear-gradient(#261237 0%, #220e33 2%, #271138 26%, #260f39 34%, #28113b 36%, #27103a 39%, #29123e 40%, #2c123f 54%, #2d1642 65%, #321847 73%, #35194a 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#261237', endColorstr='#35194a',GradientType=0 );  */
	color:#fff;
	padding: 15px 0;
	margin: 0;
	font-weight: bold;
	border-radius:0;
	font-size: 18px;
	text-transform: uppercase;
}	
.single-events .entry-title i,
.single-events .entry-meta span i{margin-right: 15px;}
.single-events .entry-meta{
	color: #fff;
	background: #504758;
	vertical-align: top;
}
.single-events .entry-meta a{
	color: #fff;
	text-decoration: underline;
}
.single-events .entry-meta span{
	margin-left: 10px;
	font-size:11px;
	font-weight:bold;
	padding: 10px 0;
	display: inline-block;
}
.single-events .entry-meta span:first-child{margin-left: 0;}
/*::::::::::::::::::::::::::::::::::::HEADER ENDS::::::::::::::::::::::::::::::::::::::::*/

/*::::::::::::::::::::::::::::::::::::ENTRY-CONTENT STARTS::::::::::::::::::::::::::::::::::::::::*/
.single-events .entry-content{margin-top: 0;}
.single-events .info-icon{
	background: #59446b;
	border-radius: 50%;
	float: left;
	height: 25px;
	padding-top: 4px;
	text-align: center;
	width: 25px;
	color: #fff;
}
.single-events  .info-excerpt{
	width: 95%;
	float: right;
	min-height: 35px;
}
.single-events .event-desc{
	display:none;
	border-bottom: 1px solid #b5b5b5;
	margin: 10px 0 0;
	color: #000000;
	font-size: 15px;
}
.single-events .player-avatar-wrapper{padding: 0px 0;}
.single-events .players-avatar{
	list-style: none;
	margin: 0;
	padding: 0;
	height:61px;
	overflow: hidden;
}
.single-events .players-avatar li{
	float: left;
    margin-top: 10px;
    margin-bottom: 10px;
	margin-left: 5px;
	width:36px !important;
}
.single-events .players-avatar li a{display: block;}
.single-events .players-avatar li img{
	border-radius: 50%;
	height: 36px;
    width: 36px;
}
.single-events .comments-title{
	background: #efefef;
	padding: 7px 0;
	border-top:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;
	margin: 0;
	color: #311744;
	font-size: 18px;
	font-weight:400;
}
.single-events .poker-rss{padding-top: 4px;}
.single-events .poker-rss,
.single-events .circle-num{
		height: 25px;
		width: 25px;
		background: #5a456d;
		border-radius: 50%;
		color: #ffffff;
		text-align: center;
		padding-top: 4px;
}
.single-events .circle-num{
	float: right;
	font-size: 12px;
}
.poker-comment-wrapper.unseen {background: rgba(0, 128, 128, 0.09);}
.single-events .event-section-1{border: 1px solid #b8b8b8;}
.single-events .poker-comment-wrapper:before,
.single-events .poker-comment-wrapper:after{
	content: '';
	clear: both;
	display: block;
}
.single-events .poker-comment-wrapper{
	padding: 10px 0;
	border-top: 1px solid #b5b5b5;
}
.single-events .poker-comment-wrapper:first-child{border-top: 0;}
.anonymous .commenter-pic img{
 	border-radius: 0;
 	border:0;
 	height: inherit;
 	width: inherit;
 }
.author{
	display: inline-block;
	font-style: italic;
	overflow: hidden;
	font-weight:normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 65%;
	color:#4ea060 ;
 }
.single-events .comment{
	color: #202020;
	display:inline;
    width: 61%;
    font-weight:400;
    margin-bottom:10px;
}
.single-events .commenter-info img{max-width:100%;}
span.ava-name {
    color: #333;
    font-size: 12px;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 2px;
}
#poker-commentlist{
	height: 350px;
    overflow: auto;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
 	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;  
}
.single-events .name{
	font-size: 14px;
	color: #1d1d1d;
}
.single-events .date{font-weight:600;}
.single-events .date,
.single-events .comment-like-dislike{float: right;}
.single-events .comment-like-dislike p{
	float: left;
	margin-left: 15px;
}
.comment-like-dislike > p{
	font-size: 16px;
	margin: 0;
}
.single-events  .fa.fa-thumbs-up{color: #0e3472;}
.single-events i.fa.fa-thumbs-down{color: #810e1d;}
.single-events .comment-like-dislike span{margin-left: 8px;}
#like i,
#dislike i{ 
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
 }
#like i:hover,
#dislike i:hover{
	-webkit-transform: scale(1.5); 
	-moz-transform: scale(1.5); 
	transform: scale(1.5); 
}
.single-events .commenter-pic{float: left;}
.single-events .commenter-info{
	float: right;
	width: 87%;
}
/*::::::::::::::::::::::::::::::::::::ENTRY-CONTENT ENDS::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::EVENT-SECTION-2 STARS:::::::::::::::::::::::::::::::::::::::::::*/
.single-events .event-section-2{

    bottom: 0;
    width: 100%;
    z-index: 9;
    background: #fff;
}
.single-events .comment-respond{margin-top: 12px;}
.single-events .comment-form{
     width: 100%;
     position: relative;
}

.single-events .comment-form .form-row:before,
.single-events .comment-form .form-row:after{
    content: '';
    clear: both;
    display: block;
 }

.single-events .comment-respond .form-row:last-child{border-bottom: 0;}
.single-events .comment-respond label{
    float: left;
    width:10%;
    height: 51px;
    background-color: #321849;
    margin: 0;
    padding:0 13px !important;
    position: absolute;
    left: 0;
}
.single-events .comment-respond textarea{
    float: right;
    margin: 0;
    width: 70%;
    resize: none;
    border:1px solid #321849;
    background: #efefef;
    background-repeat: no-repeat;
    background-position: 98% center;
    font-size: 20px;
    line-height: 38px;
    height: 98px;
    outline: none;
    padding: 10px 10px 10px 77px;
    border-radius:5px;
}
.single-events .comment-respond .label-comment{
	background-color: #321849;
	padding-top:15px !important;
	padding-bottom:15px !important;
}
.single-events .comment-respond .label-name{
	padding-top: 8px !important;
	text-align: center;
}
.single-events .event-error {
    text-align: center;
    background: rgba(0 , 0 , 0 , 0.5);
    color: #fff;
    height: 150px;
    position: absolute;
    width: 100%;
    font-size: 30px;
    padding-top: 54px;
    z-index: 1;
    font-weight: bold;
	bottom: 0;
}
.single-events .comment-respond  .label-comment{height: 97px;}
.uploaded-image{
	display: none;
    position: absolute;
    width: 21px;
    height: 21px;
    background: #fff;
    left: 44px;
    top: 4px;
    opacity: 0;
}
#uploaded-image{
	display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
 
    box-shadow: 0px 2px 8px 1px #585858;
}
.poker-remove-pic{
    position: absolute;
    right: -7px;
    top: -6px;
    font-size: 14px;
    color: #FF0000;
}
.uploaded-image img{
	height:100%;
	width:100%;
}
.comment-camera{
	display:block;
	text-align:center;
	cursor: default;
	float:left;
}
.fa.fa-camera.fa-3x {
    color: #321849;
    font-size: 27px;
    line-height:34px;
    margin: 10px 0 10px;
}
.comment-image{
	margin-bottom:8px;
	margin-top:10px;
}
.single-events .commenter-pic img{
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
.comment-smiley{
	background-repeat: no-repeat;
	position: absolute;
	height: 48px;
	width:48px;	
	top: 19%;
	right: 2%;
	display: none;
}
.poker-emoticons{ 
	position: absolute;
	width: 260px;
	height: 250px;
	background: #fff;
	bottom: 62px;
	right: 6px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 4px 7px 0 rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 4px 7px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 1px 4px 7px 0 rgba(0, 0, 0, 0.75);
	display: none;
}
.poker-emoticons:after{
	border-color:#fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 10px 10px 0;
	bottom: -10px;
	height: 0;
	position: absolute;
	right: 18px;
	width: 0;
	content: '';
}
.single-events .comment-respond .submit{
    background: transparent;
    border: none;
    font-size: 20px;
    float: left;
    padding: 0 6px;
}
.pok-nam{margin:0px;}
form{overflow: hidden;}
.single-events .comment-respond input[type="text"]{
    float: left;
    margin: 0;
    padding: 5px;
	border: 1px solid #321849;
    resize: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight:600 !important;
    outline: none;
    background: #fff;
	width:-moz-calc(100% - 72px);
	width:-webkit-calc(100% - 72px);
	width:-o-calc(100% - 72px);
	width:calc(100% - 72px);
}

.single-events .comment-respond .form-row{margin:0 0 10px;}
.upload-image{
    float: left;
    height: 30px;
    width: 30px;
    color: #2B143F;
    font-size: 19px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    margin-right: 10px;
}
.img-auth {
	background-image: none;
	text-align: center;
}
.img-auth i{
	font-size: 24px;
    color: #2B143F;
}
#submit.disabled {
    cursor: not-allowed;
    background-color: inherit;
	border: 0;
	margin-top:2px;
}
.single-events .label-name .img-responsive{display: inline-block;}
div#commentError { font-size: 16px; }
#commentError button{ background-color:transparent; }
#commentError button span { font-size: 30px; }
#commentError button:hover {
    border : none;
    background-color: transparent;
    box-shadow: none;
}
article.hentry{ position:relative; }
/*:::::::::::::::::::::::::::::::::::::::::EVENT-SECTION-2 ENDS:::::::::::::::::::::::::::::::::::::::::::*/

/*:::::::::::::::::::::::::::::::::CHIPCOUNT STARTS:::::::::::::::::::::::::::::::::*/
#chipcount-wrapper{position:relative;}
#chipcount-wrapper > div{
	display:none;
	position: fixed;
    z-index: 10;
    background: #fff;
    color: #000;
    height: -moz-calc(100% - 88px);
    height: -webkit-calc(100% - 88px);
    height: calc(100% - 88px);
    padding: 1px 0;
    top: 88px;
    width: 100%;
    border: 1px solid #ccc;
}
.chipcount-user-wrapper{
	height: -moz-calc( 100% - 33px);
	height: -webkit-calc( 100% - 33px);
	height: calc( 100% - 33px);
    overflow-y: auto;
}
.chipcount-user:after,
.chipcount-user:before{
	content:'';
	clear:both;
	display:block;
}
.chipcount-user{
	border-top: 1px solid #b5b5b5;
	padding:5px 35px;
}
.chipcount-user:first-child{
	border-top:0;
}
.chipcount-title{
	background: #efefef;
	border-bottom: 1px solid #b5b5b5;
	border-top: 1px solid #b5b5b5;
	color: #311744;
	margin: 0;
	padding:4px 35px;
	font-size:14px;
	font-weight:400;
}
.chipcount-user-pic{float:left;}
.chipcount-user-pic > img{
	border-radius:50%;
	height:30px;
	width:30px;
	margin-right:15px;
	border:3px solid #eeedf2;
}
.user-chipcount{
	float:right;
	padding:0 0 10px 0 !important;
	color:#4ea060;
	font-size: 14px !important;
}
.chipcount-user-name{
	font-size: 14px;
	font-weight:400;
	text-transform: uppercase;
}
.chipcount-date{
	color:#ff0000;
}
.bt.btn-chipcount-close{
    background: #5A456D;
    border-radius: 0;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    float: right;
    font-size: 16px;
    padding: 8px 15px;
    font-weight: 400;
    border: none;
    line-height: normal;
    position: absolute;
    bottom: 3px;
    right: 2px;
}
.chipcount-user-about{
	padding:0 25px;
}
.chipcount-title > img{
	margin-right:6px;
	max-width:100%;
	height:25px;
	width:25px;
}
/*::::::::::::::::::::::::::::::::::::::::CHIPSCOUNT ENDS::::::::::::::::::::::::::::::::*/

/*::::::::::::::::::::::::::::::::::::::::MEDIA QUERY STARTS::::::::::::::::::::::::::::::::*/
@media screen and (max-width: 1200px){
	.single-events div#page{padding-top: 0;}
}
@media screen and (max-width: 767px){
	.single-events div#page{margin: 0;}
	.single-events .entry-meta span i{margin-right:2px;}
	.single-events .entry-title{font-size: 18px;}
	.single-events .event-desc{font-size: 14px;}
	.single-events .comment-respond .label-comment{
		height:inherit;
		padding-bottom:10px !important;
		padding-top:10px !important;
	}
	.single-events .info-excerpt{width: 92%;}
	.single-events .commenter-pic img{
		width: 30px;
		height: 30px;
	}
	.single-events .comment-respond textarea{height: 81px;}
	.single-events .event-error{height: 132px;}
	.fa.fa-camera.fa-3x{margin:0;}
}
@media screen and (min-width:600px){
	.single-events .commenter-info{width:92%;}
}
@media screen and (max-width: 551px){
	.single-events .commenter-info{width: 84%;}
	.chipcount-title, .chipcount-user-name{
		font-size: 11px;
		font-weight:400;
	}
}
@media screen and (max-width: 400px){
	.single-events .name{font-size: 13px;}
	.single-events .comment{font-size: 12px;}
}
@media screen and (max-width: 360px){
	.single-events .info-excerpt{width: 85%;}
	.entry-meta span img{
		width: 12px;
		margin-right: 3px;
	}
	.single-events .entry-meta span{margin-left: 3px;}
	.chipcount-title,
	.chipcount-user{
		padding-left:10px;
		padding-right:10px;
	}
	#chipcount-wrapper > div{
		top:85px;
	}
}
@media screen and (max-width:319px){
	.anonymous .author, .author{width:62%;}
	.single-events .anonymous .commenter-info,
	.single-events .commenter-info{width:79%;}
	.single-events .date,
	.single-events .anonymous .date{font-size:9px;}
	.single-events .entry-meta span{font-size: 10px;}
   .single-events .comment{width:100%;}
}